<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>RAG ChatBot</title>
  <link rel="icon" type="image/png" href="/icon/favicon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/static/style.css" />  
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</head>
<body>
  
  <!-- particles-js -->
  <div id="particles-js"></div>

  <div class="chat-wrapper">
    <header class="chat-header">
      <h1><i class="fas fa-robot"></i>RAG ChatBot</h1>
    </header>
    <main class="chat-main" id="chatbox">
      <div class="chat-message incoming">
        <p>Hello! How can I assist you today?</p>
      </div>
    </main>
<footer class="chat-input-area">
  <label for="fileUpload" class="file-upload-btn">
    <i class="fas fa-paperclip"></i>
  </label>
  <input type="file" id="fileUpload" hidden />
  <textarea id="messageInput" placeholder="Type your message..."></textarea>
  <button id="sendBTN">
    <i class="fas fa-paper-plane"></i> 
  </button>
</footer>
  </div>
  <script src="/static/script.js" defer></script>
</body>
</html>
